@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

body {
  min-height: 100vh;
  background: #121725;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background_image {
  background: #54e6af;
  mix-blend-mode: multiply;
  opacity: 0.8;
  width: 100%;
  position: absolute;
  z-index: -1;
  display: block;
}

.background_image_tablet {
  display: none;
}

.logo {
  margin-top: 62px;
}

.first_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  width: 100%;
}

.h1_text1 {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #54e6af;
  width: 327px;
  margin-top: 57px;
}

.h1_text1_white {
  color: white;
}

.p_1 {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #c2cbe5;
  margin-top: 16px;
  width: 327px;
}

.icons_box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 23px;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
}

input {
  margin-top: 47px;
  background: #2c344b;
  border-radius: 28px;
  width: 327px;
  border: none;
  height: 46px;
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-indent: 32px;
  color: white;
}

input::placeholder {
  color: white;
}

.request {
  background: #54e6af;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  border-radius: 28px;
  margin-top: 16px;
  border: none;
  width: 327px;
  height: 46px;
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #121725;
}

@media screen and (min-width: 768px) {
  body {
    align-items: flex-start;
  }

  .background_image {
    display: none;
  }

  .background_image_tablet {
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  .logo {
    padding-left: 40px;
    margin-top: 50px;
  }

  .first_container {
    align-items: flex-start;
    padding-left: 40px;
    width: 645px;
    background: #121725;
    margin-top: 152px;
  }

  .h1_text1 {
    font-family: "Chivo";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #54e6af;
    text-align: initial;
    width: 600px;
    margin-top: 93px;
  }

  .p_1 {
    font-family: "Chivo";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: inherit;
    margin-top: 31px;
    color: #c2cbe5;
    width: 445px;
  }
}
